.container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 450px;
  height: 450px;
  background-color: #fff;
  margin: 4.5rem;
  margin-right: 0.5rem;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 4px;
  margin: 1.2rem;
  border-radius: 0.3rem;
}

.search-container input {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 10px;
}

.search-container button {
  background: none;
  cursor: pointer;
  margin-right: 2rem;
  border: none;
  color: black;
}
.chat-message {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd; 
  padding: 0.5rem;
}
.border {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -10px;
  left: 1.1rem;
}

.blue-border {
  background-color: #e0e0e0;
  color: #4f4f4f;
  z-index: 0;
}

.gray-border {
  background-color: #2f80ed;
  color: #fffffc;
  z-index: 1;
}

.message-info {
  display: flex;
  flex-direction: column;
}

.message-user {
  font-weight: bold;
  color: #2f80ed;
  margin-left: 2rem;
}

.message-timestamp {
  font-size: 0.8em;
  color: #888;
}

.message-body {
  flex: 1;
}

.user {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px; 
  list-style: none;
}


.text {
  color: #2f80ed;
  font-weight: bold;
}

.text2 {
  font-size: 0.8rem;
  font-weight: bold;
  color: #4f4f4f;
}

.text3 {
  font-size: 0.7rem;
  color: #828282;
}

.text4 {
  font-size: 0.8rem;
  color: #4f4f4f;
}
